<div class="col-7">
  <p class="alert alert-danger" *ngIf="error != ''">{{error}}</p>
  <p class="alert alert-success" *ngIf="success != ''">{{success}}</p>
  <input class="my-2 form-control w-50" [(ngModel)]="patient.userId" disabled="true"/>
  <input class="my-2 form-control w-50" [(ngModel)]="patient.genotype" placeholder="Genotype" />
  <input class="my-2 form-control w-50" [(ngModel)]="patient.bloodGroup" placeholder="Blood Group" />
  <input class="my-2 form-control w-50" [(ngModel)]="patient.HIVStatus" placeholder="Hiv Status" />
  <button class="btn btn-primary" (click)="saveEdit()">Save</button>
</div>