<div class="container-fluid">
  <div class="row">
    <p class="text-center display-4">Welcome to my hospital</p>
    <div class="col-6">
      <img src="../../assets/image.png" style="margin-top: 60px;" width="500px" alt="Image">
    </div>
    <div class="col-6">
      <p class="display">
        What we do.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore obcaecati error quae, ut quas quibusdam, quidem quos debitis enim cupiditate iste voluptates, maxime quisquam. Numquam, modi. Consequuntur quae optio reprehenderit?
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore sapiente atque vitae dolore aut ullam assumenda blanditiis doloribus. Distinctio consectetur laudantium, sit eaque accusantium quia impedit in eum ipsa nostrum.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quidem ipsum ratione odit! Recusandae, placeat officia sequi ex distinctio nam hic dolorum enim aperiam aliquid, quibusdam accusamus beatae, quasi est.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam distinctio quis ipsum est veniam explicabo quas minus, dolorem, voluptatum esse sit velit. Sed cum, inventore architecto impedit accusamus ipsam provident!
      </p>
    </div>
  </div>
</div>